<div class="row mt-3 mb-3">
    <div class="col-12 col-sm-3 mt-2">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Why is there a lien on my property?</h5>
                <hr>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
            </div>
        </div>
    </div>
    <div class="col-12 col-sm-3 mt-2">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">I paid a Land Bank fee, can I take a deduction on my tax return?</h5>
                <hr>
                <p class="card-text">Land bank fees are not deductible in the year in which they are paid. The land bank commission has instead been instructed by its auditing firm and its legal counsel to advise the public that fees paid to the land bank are added to the basis of the property and can be used to reduce the amount of capital gain if/when the property is later sold.</p>
            </div>
        </div>
    </div>
    <div class="col-12 col-sm-3 mt-2">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">What happens to the lien if I want to refinance?</h5>
                <hr>
                <p class="card-text">First-time home buyers who would like to refinance their property are not required to pay off the land bank’s lien prior to doing so. Land bank liens are automatically subordinated to mortgage financing. Language to this effect is printed directly in the body of the lien document, so as to be clear to creditors. The land bank’s lien should not factor into your refinancing in any way.</p>
            </div>
        </div>
    </div>
    <div class="col-12 col-sm-3 mt-2">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">How do I obtain public records?</h5>
                <hr>
                <p class="card-text">Public records may be obtained by contacting James Lengyel, the land bank records liaison officer, at <a href="mailto:jameslengyel@vineyardlandbank.com">jameslengyel@vineyardlandbank.com</a> or at <a href="tel:508-627-7141">508-627-7141</a> or at 167 Main Street, Edgartown, Massachusetts 02539.</p>
            </div>
        </div>
    </div>  
</div>