<div class="mt-2">
    <h4>Land Bank Commissioners</h4>
    <div class="row">
        <div class="col-12 col-sm-3">
            <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Pamela Goff</h5>
                  <h6 class="card-subtitle mb-2 text-muted">Vice-Chairman</h6>
                  <p class="card-text">Chilmark</p>
                  <a class="card-link"></a>
                </div>
              </div>
        </div>
        <div class="col-12 col-sm-3">
            <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Steven Ewing</h5>
                  <h6 class="card-subtitle mb-2 text-muted"></h6>
                  <p class="card-text">Edgartown</p>
                  <a class="card-link"></a>
                </div>
              </div>
        </div>
        <div class="col-12 col-sm-3">
            <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Wesley Mott</h5>
                  <h6 class="card-subtitle mb-2 text-muted">Secretary-Treasurer</h6>
                  <p class="card-text">Commonwealth of Massachusetts</p>
                  <a href="#" class="card-link"></a>
                  <a href="#" class="card-link"></a>
                </div>
              </div>
        </div>
        <div class="col-12 col-sm-3">
            <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Kristen Reimann</h5>
                  <h6 class="card-subtitle mb-2 text-muted">Vice-Chairman</h6>
                  <p class="card-text">Oak Bluffs</p>
                  <a href="#" class="card-link"></a>
                  <a href="#" class="card-link"></a>
                </div>
              </div>
        </div>
        <div class="col-12 col-sm-3">
            <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Sarah Thulin,</h5>
                  <h6 class="card-subtitle mb-2 text-muted">Chairman</h6>
                  <p class="card-text">Aquinnah</p>
                  <a href="mailto:sthulin@vineyardlandbank.com" class="card-link">sthulin@vineyardlandbank.com</a>
                </div>
              </div>
        </div>
        <div class="col-12 col-sm-3">
            <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Nancy Weaver</h5>
                  <h6 class="card-subtitle mb-2 text-muted">Vice-Chairman</h6>
                  <p class="card-text">Tisbury</p>
                  <a href="#" class="card-link"></a>
                  <a href="#" class="card-link"></a>
                </div>
              </div>
        </div>
        <div class="col-12 col-sm-3">
            <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Peter Wells</h5>
                  <h6 class="card-subtitle mb-2 text-muted">Vice-Chairman</h6>
                  <p class="card-text">West Tisbury</p>
                  <a href="#" class="card-link"></a>
                  <a href="#" class="card-link"></a>
                </div>
              </div>
        </div>
    </div>
</div>